header{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.logo-container{
    height: 100%;
    width: 290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container img{
    height: 100%;
    width: 60%;
}
.logo-container h1{
    color: rgb(219, 10, 10);
}










.search-list-container{
    height: 100%;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}



.drop-down{
    height: 40px;
    width: 300px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    font-size: 1rem;
    background: white;
}
.drop-down:focus{
    border-bottom: 2px solid green;
    font-weight: 600;
}





/* ############### Responsive style ################## */
@media only screen and (max-width:1378px){
    header{
        justify-content: space-between;
    }
}
@media only screen and (max-width: 800px){
    .logo-container{
        width: 150px;
    }
    .logo-container img{
        width: 50%;
        height: 50%;
    }
    .logo-container h1{
        font-size: 1.2rem;
    }
    .search-list-container{
        width:150px;
    }
    .drop-down{
        width: 100%;
    }
}
@media only screen and (max-width:450px){
    .logo-container{
        width: 140px;
    }
    .logo-container img{
        width: 50%;
        height: 50%;
    }
    .logo-container h1{
        font-size: 1.2rem;
    }
    .search-list-container{
        width:140px;
    }
    .drop-down{
        width: 100%;
    }
}